$color-bodyPorang:#7cc7c7;
$color-body:#ba7cc7;
// footer
footer {
    background-color: #41464b;
}

.footer {
    width: 92%;
    direction: rtl;
    margin-top: 107px;
    line-height: 3;
    .iconR {
        ul {
            display: flex;
            justify-content: start;
            list-style: none;
            li {
                text-align: justify;
                margin-right: 12px;
                a {
                    font-size: 36px;
                    color: $color-bodyPorang;
                    transition: 0.5s;
                    transition-duration: 0.7;
                    &:hover {
                        color: $color-body;
                        font-size: 39px;
                    }
                }
            }
        }
    }
    .footerEnding {
        h4 {
            text-align: start;
            color: #cbcbcb;
        }
        p {
            color: #dddddd;
            text-align: start;
            text-indent: inherit;
            text-decoration: none;
        }
        ul {
            list-style: none;
            text-align: start;
            li {
                padding: 1px;
                a {
                    text-align: start;
                    text-indent: inherit;
                    text-decoration: none;
                    color: rgb(197, 197, 197);
                    &:hover {
                        background-color: #34666d;
                        font-weight: 500;
                        border-radius: 5px;
                        padding: 2px;
                        color: white;
                        transition: 0.5s;
                    }
                }
                .icons {
                    font-size: 21px;
                    li {
                        text-align: center;
                    }
                    &:hover {
                        border-radius: 50%;
                        padding: 15px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .backCent-margins {
        position: absolute;
    }
    .image-backgroundsabt {
        height: auto !important;
    }
    .foot {
        margin-top: 404px !important;
    }
}

.ft-copyright {
    border-top: 1px solid #eaeef3;
    padding: 15px 0 12px
}

.ft-copyright p {
    margin-bottom: 0
}

// signup
.signup-frm {
    max-width: 510px;
    margin-top: 15px;
    display: block;
    position: relative
}

.signup-frmCustom {
    max-width: 510px;
    margin-top: 15px;
    display: block;
    position: relative
}

.signup-frm .form-control {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 22px 20px 18px;
    border-radius: 50px;
    height: 57px
}

.signup-frmCustom .form-control {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    padding: 22px 20px 18px;
    border-radius: 50px;
    height: 60px
}

.signup-frm .btn {
    bottom: 4px;
    position: absolute;
    left: 4px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 18px 18px 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    width: auto;
    border-width: 0;
    color: #fff;
    background-color: #33b1c2;
    cursor: pointer;
    border-radius: 50px;
    height: 52px
}

.signup-frmCustom .btn {
    bottom: 4px;
    position: absolute;
    left: 4px;
    font-size: 36px;
    /* font-weight: 500; */
    /* letter-spacing: 1px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    white-space: normal;
    width: 50px;
    border-width: 0;
    color: #fff;
    background-color: #33b1c2;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;
    font-size: 25px;
    &:hover {
        background-color: #2993a1;
    }
}

.card-view input,
select,
textarea {
    height: 40px!important;
}

.signup-frm.normal .form-control {
    border-radius: 6px
}

.signup-frm.normal .btn {
    border-radius: 6px
}

// endsignup
// start form-control
.form-control {
    height: 56px;
    border-radius: 4px;
    font-size: 15px;
    box-shadow: none;
    border: 1px solid #dce4f5;
    background-clip: initial
}

.image-bg .form-control,
.bg--dark .form-control {
    color: #495057!important
}

select.form-control:not([size]):not([multiple]) {
    height: 56px
}

select.form-control.fc-lg:not([size]):not([multiple]) {
    height: 62px
}

.form-control.fc-lg {
    height: 62px
}

textarea.form-control {
    height: 150px
}

// end formcontroller
// end formcontroller
// forpages peygiri
// searchpeigiri
.search-peigir {
    @extend .footerEnding;
}

.search-frm {
    @extend .signup-frm;
    .btn {
        @extend .btn;
        &:hover {
            color: white;
            background: $color-bodyPorang;
            transition: .5s;
            text-decoration: none;
            box-shadow: 0px 1px 7px -1px rgba(0, 158, 179, 0.86);
        }
    }
    .form-control {
        box-shadow: 1px 5px 5px 2px rgba(0, 0, 0, 0.71);
    }
}

.text-center {
    p {
        color: rgb(224, 223, 223);
    }
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
}